<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Integer elements must be entered separately in the first two boxes.
    The last box is given an integer. 
    The given element, on the other hand, finds how many of those elements are in the same index in the arrays created in the first two boxes.
    
    
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
